body {
    font-family: Arial;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.4em;
    margin-bottom: 20px;
    color: #444;
}

.column {
    float: left;
    width: 50%;
}

.info {
    text-align: left;
    margin: auto;
    width: 80%;
    border: 3px solid black;
    padding: 10px;
}

.center {
    text-align: center;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ol {
    margin: auto;
    padding: 5;
    overflow: hidden;
}

li {
    float: left;
    padding-bottom: 10px;
}

.orderedlist {
    float: none;
    padding-bottom: 10px;
}

.liPadding {
    padding-bottom: 0px !important;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #111;
    color: white;
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
}

#displaypic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding-top: 20px;
}